# Foldere
.gradle/
.idea/
.kotlin/
gradle/
/app/release/
build/
/*/build/

# Lokale innstillinger (viktig! Inneholder din sti til SDK)
local.properties

# Android Studio / IntelliJ-spesifikk støy
*.iml
*.iws
*.ipr

# Enhets- og OS-spesifikke filer
captures/
.externalNativeBuild/
.DS_Store
Thumbs.db

# Build-artifakter
*.apk
*.aar
*.jks
*.keystore