.gradle/
build/
/*/build/

# Lokale innstillinger (viktig! Inneholder din sti til SDK)
local.properties

# Android Studio / IntelliJ-spesifikk støy
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
*.iml
*.iws
*.ipr

# Enhets- og OS-spesifikke filer
captures/
.externalNativeBuild/
.DS_Store
Thumbs.db

# Build-artifakter
*.apk
*.aar
*.jks
*.keystore
/app/release/
